extends layout

block layout-content
    div.home-container
        div.form-wrapper
            h1 Indexing API  
            form(action="/result" method="POST")
                textarea(name="data")
                br
                input(type="submit" value="Klik")
        div.footer autor:  
            a(href="https://pl.linkedin.com/in/marek-folta%C5%84ski-a727aa144" target="_blank") Marek Foltański 

