html,
body {
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto Mono", monospace;
}
h1 {
  margin-top: 0;
  text-align: center;
}
.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-wrapper {
  max-width: 600px;
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 20px;
  border-radius: 4px;
}
textarea {
  width: 100%;
  height: 200px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(245, 245, 245);
  font-family: "Roboto Mono", monospace;
}
textarea:focus {
  outline: none;
}
input[type="submit"] {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  margin-top: 16px;
  font-family: "Roboto Mono", monospace;
  float: right;
}
code {
  display: block;
  width: 100%;
  height: 200px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(245, 245, 245);
  overflow-y: scroll;
  margin-bottom: 16px;
}
.footer {
  padding: 40px;
}
